
<form [formGroup]="loginForm" (ngSubmit)="onLogin()" autocomplete="on">
    <div>
        <div class="w-full">
            <label>Email</label>
            <input matInput placeholder="user@example.com" formControlName="email" required>
            @if (this.loginForm.controls['email'].errors && this.loginForm.controls['email'].touched) {
            <div>
                Please enter your email
            </div>
            }
        </div>
    </div>
    <div>
        <div class="w-full">
            <label>Password</label>
            <input matInput placeholder="password" formControlName="password" required>
            @if (this.loginForm.controls['password'].invalid) {
            <div>
                Please enter password
            </div>
            }
        </div>
    </div>
    <button  color="primary" type="submit" class="w-full">
        <span>Sign in</span>
    </button>
</form>