<nav class="fixed top-0 z-50 w-full bg-white">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start rtl:justify-end">
                <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
                    type="button"
                    class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                    (click)="isToggle = !isToggle">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd"
                            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                        </path>
                    </svg>
                </button>
                <a routerLink="/admin" class="flex ms-2 md:me-24">
                    <img src="{{logo}}" class="h-8 me-3" alt="FlowBite Logo" />
                    <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap ">ngCommerce</span>
                </a>
            </div>
            <div class="flex items-center">
                <div class="flex items-center ms-3">
                    <div>
                        <button type="button"
                            class="flex text-sm bg-gray-800 rounded-full focus:ring-2 focus:ring-gray-300 "
                            aria-expanded="false" data-dropdown-toggle="dropdown-user">
                            <span class="sr-only">Open user menu</span>
                            <img class="w-10 h-10 rounded-full"
                                src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo">
                        </button>
                    </div>
                    <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow "
                        id="dropdown-user">
                        <div class="px-4 py-3" role="none">
                            <p class="text-sm text-gray-900 " role="none">
                                Neil Sims
                            </p>
                            <p class="text-sm font-medium text-gray-900 truncate " role="none">
                                neil.sims&commat;flowbite.com
                            </p>
                        </div>
                        <ul class="py-1" role="none">
                            <li>
                                <a routerLink="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                    role="menuitem">Dashboard</a>
                            </li>
                            <li>
                                <a routerLink="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100  "
                                    role="menuitem">Settings</a>
                            </li>
                            <li>
                                <a routerLink="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100  "
                                    role="menuitem">Earnings</a>
                            </li>
                            <li>
                                <a routerLink="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100  "
                                    role="menuitem">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<aside id="logo-sidebar"
    class="hidden lg:flex fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 lg:translate-x-0 "
    aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white w-64">
        <div class="space-y-2 font-medium">
            @for(menu of sideMenu; track menu){
            @if(menu.subMenu){
            <div class="-mx-3">
                <button type="button"
                    class="flex w-full items-center justify-between rounded-lg py-2 pr-3.5 text-base font-medium leading-7 text-gray-900 hover:bg-gray-100 hover:text-indigo-600"
                    aria-controls="disclosure-1" aria-expanded="false" (click)="toggleSubMenu(menu)">

                    <div class="flex items-center justify-start">
                        <div class="w-10">
                            <fa-icon [icon]="menu.icon" class="text-gray-600 hover:text-indigo-600"></fa-icon>
                        </div>
                        <div class="ml-2">{{menu.title}}</div>
                    </div>

                    <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                        aria-hidden="true" [ngClass]="{'rotate-180': menu.isToggle, '': !menu.isToggle}">
                        <path fill-rule="evenodd"
                            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                            clip-rule="evenodd" />
                    </svg>

                </button>
                <!-- 'Product' sub-menu, show/hide based on menu state. -->
                <div class="mt-2 space-y-2" id="disclosure-1" [style]="(menu.isToggle) ? '' : 'display:none;'">
                    @for(subMenu of menu.subMenu; track subMenu){
                    <a routerLink={{subMenu.route}} routerLinkActive="bg-gray-100 text-indigo-600"
                        class="block rounded-lg py-2 pl-6 pr-3 text-sm font-normal leading-7 text-gray-700 hover:bg-gray-100 hover:text-indigo-600">

                        <fa-icon [icon]="subMenu.icon" class=" text-gray-600 w-10 h-10 mr-2"></fa-icon>
                        {{subMenu.title}}
                    </a>
                    }
                </div>
            </div>
            }
            @else {
            <a routerLink={{menu.route}} routerLinkActive="bg-gray-100" #rla="routerLinkActive"
                class="group relative flex items-center -mx-3 hover:bg-gray-100">
                <div class="flex h-11 w-11 flex-none items-center justify-center">

                    <fa-icon [icon]="menu.icon" [class]="rla.isActive ?'text-indigo-600' : ''"
                        class="h-6 w-6 text-gray-600 group-hover:text-indigo-600"></fa-icon>
                </div>
                <div class="flex-auto">
                    <div class="block font-medium text-gray-900 group-hover:text-indigo-600 ml-1"
                        [class]="rla.isActive ?'text-indigo-600' : ''">
                        {{menu.title}}
                    </div>
                </div>
            </a>
            }
            }
        </div>
    </div>
</aside>

<div class="p-4 lg:ml-64">
    <div class="p-4 mt-12">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- Mobile sidebar -->
<aside id="logo-sidebar" class="fixed top-0 left-0 w-64 h-screen lg:pt-20 transition-transform lg:z-40 z-50 lg:hidden"
    [ngClass]="{'-translate-x-full': !isToggle, 'translate-x-0': isToggle}" aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white">

        <div class="flex justify-end mt-5">
            <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" (click)="isToggle = !isToggle">
                <span class="sr-only">Close menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <div class="space-y-2 font-medium">
            @for(menu of sideMenu; track menu){
                @if(menu.subMenu){
                <div class="-mx-3">
                    <button type="button"
                        class="flex w-full items-center justify-between rounded-lg py-2 pr-3.5 text-base font-medium leading-7 text-gray-900 hover:bg-gray-100 hover:text-indigo-600"
                        aria-controls="disclosure-1" aria-expanded="false" (click)="toggleSubMenu(menu)">
    
                        <div class="flex items-center justify-start">
                            <div class="w-10">
                                <fa-icon [icon]="menu.icon" class="text-gray-600 hover:text-indigo-600"></fa-icon>
                            </div>
                            <div class="ml-2">{{menu.title}}</div>
                        </div>
    
                        <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                            aria-hidden="true" [ngClass]="{'rotate-180': menu.isToggle, '': !menu.isToggle}">
                            <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                        </svg>
    
                    </button>
                    <!-- 'Product' sub-menu, show/hide based on menu state. -->
                    <div class="mt-2 space-y-2" id="disclosure-1" [style]="(menu.isToggle) ? '' : 'display:none;'">
                        @for(subMenu of menu.subMenu; track subMenu){
                        <a routerLink={{subMenu.route}} routerLinkActive="bg-gray-100 text-indigo-600"
                            class="block rounded-lg py-2 pl-6 pr-3 text-sm font-normal leading-7 text-gray-700 hover:bg-gray-100 hover:text-indigo-600">
    
                            <fa-icon [icon]="subMenu.icon" class=" text-gray-600 w-10 h-10 mr-2"></fa-icon>
                            {{subMenu.title}}
                        </a>
                        }
                    </div>
                </div>
                }
                @else {
                <a routerLink={{menu.route}} routerLinkActive="bg-gray-100" #rla="routerLinkActive"
                    class="group relative flex items-center -mx-3 hover:bg-gray-100">
                    <div class="flex h-11 w-11 flex-none items-center justify-center">
    
                        <fa-icon [icon]="menu.icon" [class]="rla.isActive ?'text-indigo-600' : ''"
                            class="h-6 w-6 text-gray-600 group-hover:text-indigo-600"></fa-icon>
                    </div>
                    <div class="flex-auto">
                        <div class="block font-medium text-gray-900 group-hover:text-indigo-600 ml-1"
                            [class]="rla.isActive ?'text-indigo-600' : ''">
                            {{menu.title}}
                        </div>
                    </div>
                </a>
                }
                }
        </div>
    </div>
</aside>